backports.functools-lru-cache==1.5
certifi==2018.10.15
chardet==3.0.4
cheroot==6.5.2
CherryPy==18.0.1
cycler==0.10.0
idna==2.7
jaraco.functools==1.20
kiwisolver==1.0.1
matplotlib==2.2.2
more-itertools==4.3.0
numpy==1.14.3
pandas==0.23.4
portend==2.3
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
six==1.11.0
tempora==1.14
textfsm==0.4.1
urllib3==1.26.5
zc.lockfile==1.4
